In [1]:

import numpy as np

In [2]:

import pandas as pd

In [3]:
data = pd.read_csv('mobile_prices_2023.csv')

In [4]:
data.isnull().sum()

Phone Name             0
Rating ?/5             0
Number of Ratings      0
RAM                    0
ROM/Storage          174
Back/Rare Camera       9
Front Camera         401
Battery               10
Processor             55
Price in INR           0
Date of Scraping       0
dtype: int64

In [5]:
data['ROM/Storage'] = data['ROM/Storage'].str.extract('(\d+)').astype(float)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\vajir\AppData\Local\Temp\ipykernel_1252\1390462843.py:1: SyntaxWarning: invalid escape sequence '\d'
  data['ROM/Storage'] = data['ROM/Storage'].str.extract('(\d+)').astype(float)

In [6]:
mean_value = data['ROM/Storage'].mean()

In [7]:
data['ROM/Storage'].fillna(mean_value, inplace=True)

In [8]:
data.isnull().sum()

Phone Name             0
Rating ?/5             0
Number of Ratings      0
RAM                    0
ROM/Storage            0
Back/Rare Camera       9
Front Camera         401
Battery               10
Processor             55
Price in INR           0
Date of Scraping       0
dtype: int64

In [9]:
data['RAM'] = data['RAM'].str.extract('(\d+)').astype(float)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\vajir\AppData\Local\Temp\ipykernel_1252\3416047215.py:1: SyntaxWarning: invalid escape sequence '\d'
  data['RAM'] = data['RAM'].str.extract('(\d+)').astype(float)

In [10]:
data['RAM'].fillna(0, inplace=True)
data['RAM'].replace([np.inf, -np.inf], 0, inplace=True)
data['RAM'] = data['RAM'].astype('int')

In [11]:
data['RAM']

0       2
1       4
2       4
3       4
4       4
       ..
1831    4
1832    4
1833    4
1834    8
1835    4
Name: RAM, Length: 1836, dtype: int32

In [12]:
data['ROM/Storage']

0        32.0
1        64.0
2        64.0
3        64.0
4        64.0
        ...
1831     64.0
1832     64.0
1833     64.0
1834    128.0
1835     64.0
Name: ROM/Storage, Length: 1836, dtype: float64

In [13]:
data['ROM/Storage'] = data['ROM/Storage'].astype('int')

In [14]:
data['ROM/Storage']

0        32
1        64
2        64
3        64
4        64
       ...
1831     64
1832     64
1833     64
1834    128
1835     64
Name: ROM/Storage, Length: 1836, dtype: int32

In [15]:
data['Front Camera'] = data['Front Camera'].str.extract('(\d+)').astype(float)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\vajir\AppData\Local\Temp\ipykernel_1252\202900976.py:1: SyntaxWarning: invalid escape sequence '\d'
  data['Front Camera'] = data['Front Camera'].str.extract('(\d+)').astype(float)

In [16]:
mean_value = data['Front Camera'].mean()

In [17]:
data['Front Camera'].fillna(mean_value, inplace=True)

In [18]:
data['Front Camera'] = data['Front Camera'].astype('int')

In [19]:
data.isnull().sum()

Phone Name            0
Rating ?/5            0
Number of Ratings     0
RAM                   0
ROM/Storage           0
Back/Rare Camera      9
Front Camera          0
Battery              10
Processor            55
Price in INR          0
Date of Scraping      0
dtype: int64

In [20]:
data['Battery'].head()

0    5000 mAh
1    5000 mAh
2    5000 mAh
3    5000 mAh
4    5000 mAh
Name: Battery, dtype: object

In [21]:
data['Battery'] = data['Battery'].str.extract('(\d+)').astype(float)
mean_value = data['Battery'].mean()
data['Battery'].fillna(mean_value, inplace=True)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\vajir\AppData\Local\Temp\ipykernel_1252\27849171.py:1: SyntaxWarning: invalid escape sequence '\d'
  data['Battery'] = data['Battery'].str.extract('(\d+)').astype(float)

In [22]:
data['Battery'].head()

0    5000.0
1    5000.0
2    5000.0
3    5000.0
4    5000.0
Name: Battery, dtype: float64

In [23]:
data['Battery'] = data['Battery'].astype('int')

In [24]:
data.isnull().sum()

Phone Name            0
Rating ?/5            0
Number of Ratings     0
RAM                   0
ROM/Storage           0
Back/Rare Camera      9
Front Camera          0
Battery               0
Processor            55
Price in INR          0
Date of Scraping      0
dtype: int64

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836 entries, 0 to 1835
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Phone Name         1836 non-null   object
 1   Rating ?/5         1836 non-null   float64
 2   Number of Ratings  1836 non-null   object
 3   RAM                1836 non-null   int32
 4   ROM/Storage        1836 non-null   int32
 5   Back/Rare Camera   1827 non-null   object
 6   Front Camera       1836 non-null   int32
 7   Battery            1836 non-null   int32
 8   Processor          1781 non-null   object
 9   Price in INR       1836 non-null   object
 10  Date of Scraping   1836 non-null   object
dtypes: float64(1), int32(4), object(6)
memory usage: 129.2+ KB

In [26]:
data['Number of Ratings'] = data['Number of Ratings'].str.extract('(\d+)').astype(float)
mean_value = data['Number of Ratings'].mean()
data['Number of Ratings'].fillna(mean_value, inplace=True)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\vajir\AppData\Local\Temp\ipykernel_1252\3327390253.py:1: SyntaxWarning: invalid escape sequence '\d'
  data['Number of Ratings'] = data['Number of Ratings'].str.extract('(\d+)').astype(float)

In [27]:
data['Number of Ratings'] = data['Number of Ratings'].astype('int')

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836 entries, 0 to 1835
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Phone Name         1836 non-null   object
 1   Rating ?/5         1836 non-null   float64
 2   Number of Ratings  1836 non-null   int32
 3   RAM                1836 non-null   int32
 4   ROM/Storage        1836 non-null   int32
 5   Back/Rare Camera   1827 non-null   object
 6   Front Camera       1836 non-null   int32
 7   Battery            1836 non-null   int32
 8   Processor          1781 non-null   object
 9   Price in INR       1836 non-null   object
 10  Date of Scraping   1836 non-null   object
dtypes: float64(1), int32(5), object(5)
memory usage: 122.1+ KB

In [29]:
data['Price in INR'] = data['Price in INR'].str.extract('(\d+)').astype(float)
mean_value = data['Price in INR'].mean()
data['Price in INR'].fillna(mean_value, inplace=True)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\vajir\AppData\Local\Temp\ipykernel_1252\3761392870.py:1: SyntaxWarning: invalid escape sequence '\d'
  data['Price in INR'] = data['Price in INR'].str.extract('(\d+)').astype(float)

In [30]:
data['Price in INR'] = data['Price in INR'].astype('int')

In [31]:
data.corr()['Price in INR']

ValueError: could not convert string to float: 'POCO C50 (Royal Blue, 32 GB)'

In [32]:
data['Phone Name'].value_counts()

Phone Name
SAMSUNG Guru Music 2                          9
OnePlus 10R 5G (Sierra Black, 256 GB)         5
Nokia 8210 4G                                 4
OnePlus Nord CE 2 5G (Bahama Blue, 128 GB)    4
Nokia 3310 DS 2020                            4
                                             ..
OPPO A785G (Blue, 128 GB)                     1
OPPO A54 (Moonlight Gold, 64 GB)              1
OPPO A54 (Crystal Black, 64 GB)               1
OPPO A16E (White, 32 GB)                      1
Infinix S5 (Quetzal Cyan, 64 GB)              1
Name: count, Length: 1507, dtype: int64

In [33]:
def add_Phone_name(input):
    if input == 'SAMSUNG Guru Music 2' or input == 'OnePlus 10R 5G (Sierra Black, 256 GB)' or input == 'Nokia 8210 4G' or input == 'OnePlus Nord CE 2 5G (Bahama Blue, 128 GB)' or input == 'Nokia 3310 DS 2020':
        return input
    else:
        return 'Other'
data['Phone Name'] = data['Phone Name'].apply(add_Phone_name)

In [34]:
data['Phone Name'].value_counts()

Phone Name
Other                                         1810
SAMSUNG Guru Music 2                             9
OnePlus 10R 5G (Sierra Black, 256 GB)            5
Nokia 3310 DS 2020                               4
Nokia 8210 4G                                    4
OnePlus Nord CE 2 5G (Bahama Blue, 128 GB)       4
Name: count, dtype: int64

In [35]:
data['Processor'].value_counts().head(15)

Processor
1 Year Warranty for Phone and 6 Months Warranty for In-Box Accessories                       47
Qualcomm Snapdragon 680 Processor                                                            45
Brand Warranty for 1 Year                                                                    40
12 months                                                                                    35
Qualcomm Snapdragon 778G Processor                                                           33
Mediatek Helio P35 Processor                                                                 32
Brand Warranty of 1 Year                                                                     30
1 Year Warranty                                                                              30
Unisoc T612 Processor                                                                        29
12 Months Warranty                                                                           28
Mediatek Dimensity 920 Processor                                                             27
Qualcomm Snapdragon 870 Processor                                                            23
1 Year Manufacturer Warranty for Handset and 6 Months Warranty for In the Box Accessories    22
Qualcomm Snapdragon 439 Processor                                                            22
Qualcomm Snapdragon 695 Processor                                                            22
Name: count, dtype: int64

In [36]:
def add_Phone_name(input):
    if input == 'Qualcomm Snapdragon 680 Processor' or input == 'Qualcomm Snapdragon 778G Processor' or input == 'Mediatek Helio P35 Processor' or input == 'Unisoc T612 Processor' or input == 'Mediatek Dimensity 920 Processor' or input == 'Qualcomm Snapdragon 870 Processor' or input == 'Qualcomm Snapdragon 695 Processor' or input == 'Qualcomm Snapdragon 439 Processor' :
        return input
    else:
        return 'Other'
data['Processor'] = data['Processor'].apply(add_Phone_name)

In [37]:
data['Processor'].value_counts()

Processor
Other                                 1603
Qualcomm Snapdragon 680 Processor       45
Qualcomm Snapdragon 778G Processor      33
Mediatek Helio P35 Processor            32
Unisoc T612 Processor                   29
Mediatek Dimensity 920 Processor        27
Qualcomm Snapdragon 870 Processor       23
Qualcomm Snapdragon 695 Processor       22
Qualcomm Snapdragon 439 Processor       22
Name: count, dtype: int64

In [38]:
data['Back/Rare Camera'].value_counts().head(15)

Back/Rare Camera
50MP Rear Camera     101
13MP Rear Camera      93
12MP + 12MP           81
13MP + 2MP            81
50MP + 2MP + 2MP      80
8MP Rear Camera       78
64MP + 8MP + 2MP      76
50MP + 2MP            71
12MP Rear Camera      60
13MP + 2MP + 2MP      55
50MP + 8MP + 2MP      54
48MP + 2MP + 2MP      46
48MP Rear Camera      40
0.3MP Rear Camera     38
64MP Rear Camera      36
Name: count, dtype: int64

In [39]:
def add_Phone_name(input):
    if input == '50MP Rear Camera' or input == '13MP Rear Camera' or input == '12MP + 12MP' or input == '13MP + 2MP' or input == '50MP + 2MP + 2MP' or input == '8MP Rear Camera' or input == '64MP + 8MP + 2MP' or input == '50MP + 2MP' or input == '12MP Rear Camera' or input == '13MP + 2MP + 2MP' or input == '50MP + 8MP + 2MP' or input == '48MP + 2MP + 2MP' or input == '48MP Rear Camera' or input == '0.3MP Rear Camera' or input == '64MP Rear Camera':
        return input
    else:
        return 'Other'
data['Back/Rare Camera'] = data['Back/Rare Camera'].apply(add_Phone_name)

In [40]:
data['Back/Rare Camera'].value_counts()

Back/Rare Camera
Other                846
50MP Rear Camera     101
13MP Rear Camera      93
13MP + 2MP            81
12MP + 12MP           81
50MP + 2MP + 2MP      80
8MP Rear Camera       78
64MP + 8MP + 2MP      76
50MP + 2MP            71
12MP Rear Camera      60
13MP + 2MP + 2MP      55
50MP + 8MP + 2MP      54
48MP + 2MP + 2MP      46
48MP Rear Camera      40
0.3MP Rear Camera     38
64MP Rear Camera      36
Name: count, dtype: int64

In [41]:
data['Date of Scraping'].value_counts()

Date of Scraping
2023-06-17    1836
Name: count, dtype: int64

In [42]:
data.columns

Index(['Phone Name', 'Rating ?/5', 'Number of Ratings', 'RAM', 'ROM/Storage',
       'Back/Rare Camera', 'Front Camera', 'Battery', 'Processor',
       'Price in INR', 'Date of Scraping'],
      dtype='object')

In [46]:
data = data.drop('Date of Scraping', axis=1)

In [47]:
data.head()

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR
0,Other,4.2,33,2,32,Other,5,5000,Other,5
1,Other,4.2,77,4,64,50MP + 2MP,8,5000,Other,11
2,Other,4.3,15,4,64,Other,5,5000,Other,6
3,Other,4.2,22,4,64,Other,5,5000,Other,7
4,Other,4.3,15,4,64,Other,5,5000,Other,6

In [48]:
data.shape

(1836, 10)

In [49]:
data['Rating ?/5'].value_counts()

Rating ?/5
4.3    486
4.2    345
4.4    319
4.1    175
4.5    168
4.0     79
4.6     71
3.9     58
4.7     46
0.0     25
3.7     21
3.8     19
3.6      9
3.0      3
3.5      3
3.4      2
3.3      2
4.8      1
2.6      1
3.2      1
1.0      1
2.8      1
Name: count, dtype: int64

In [50]:
data = pd.get_dummies(data)

In [51]:
data.head()

,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Front Camera,Battery,Price in INR,Phone Name_Nokia 3310 DS 2020,Phone Name_Nokia 8210 4G,"Phone Name_OnePlus 10R 5G (Sierra Black, 256 GB)",...,Back/Rare Camera_Other,Processor_Mediatek Dimensity 920 Processor,Processor_Mediatek Helio P35 Processor,Processor_Other,Processor_Qualcomm Snapdragon 439 Processor,Processor_Qualcomm Snapdragon 680 Processor,Processor_Qualcomm Snapdragon 695 Processor,Processor_Qualcomm Snapdragon 778G Processor,Processor_Qualcomm Snapdragon 870 Processor,Processor_Unisoc T612 Processor
0,4.2,33,2,32,5,5000,5,False,False,False,...,True,False,False,True,False,False,False,False,False,False
1,4.2,77,4,64,8,5000,11,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2,4.3,15,4,64,5,5000,6,False,False,False,...,True,False,False,True,False,False,False,False,False,False
3,4.2,22,4,64,5,5000,7,False,False,False,...,True,False,False,True,False,False,False,False,False,False
4,4.3,15,4,64,5,5000,6,False,False,False,...,True,False,False,True,False,False,False,False,False,False

In [52]:
data.shape

(1836, 38)

In [53]:
x = data.drop('Price in INR', axis=1)
y = data['Price in INR']

In [88]:
!pip install sklearn
!pip install scikit-learn

Requirement already satisfied: sklearn in c:\python312\lib\site-packages (0.0.post10)
^C

In [54]:

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [55]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((1468, 37), (368, 37), (1468,), (368,))

In [56]:
def model_acc(model):
    model.fit(x_train, y_train)
    acc = model.score(x_test, y_test)
    print(str(model)+ '-->' +str(acc))

In [57]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model_acc(lr)

from sklearn.linear_model import Lasso
lasso = Lasso()
model_acc(lasso)

from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
model_acc(dt)

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
model_acc(rf)

LinearRegression()-->0.6374569179321714
Lasso()-->0.43285349708469223
DecisionTreeRegressor()-->0.8720127395769025
RandomForestRegressor()-->0.9028809929851969

In [58]:
from sklearn.model_selection import GridSearchCV

parameters = {'n_estimators':[10, 50, 100],
            'criterion':['squared_error', 'absolute_error','poisson']}

grid_obj = GridSearchCV(estimator=rf, param_grid=parameters)

grid_fit = grid_obj.fit(x_train, y_train)
best_model = grid_fit.best_estimator_
best_model

RandomForestRegressor(n_estimators=50)

In [59]:
best_model.score(x_test, y_test)

0.8994727215865772

In [60]:
import pickle
with open ('predictor.pickle', 'wb') as file:
    pickle.dump(best_model, file)

In [61]:
x_train.columns

Index(['Rating ?/5', 'Number of Ratings', 'RAM', 'ROM/Storage', 'Front Camera',
       'Battery', 'Phone Name_Nokia 3310 DS 2020', 'Phone Name_Nokia 8210 4G',
       'Phone Name_OnePlus 10R 5G (Sierra Black, 256 GB)',
       'Phone Name_OnePlus Nord CE 2 5G (Bahama Blue, 128 GB)',
       'Phone Name_Other', 'Phone Name_SAMSUNG Guru Music 2',
       'Back/Rare Camera_0.3MP Rear Camera', 'Back/Rare Camera_12MP + 12MP',
       'Back/Rare Camera_12MP Rear Camera', 'Back/Rare Camera_13MP + 2MP',
       'Back/Rare Camera_13MP + 2MP + 2MP',
       'Back/Rare Camera_13MP Rear Camera',
       'Back/Rare Camera_48MP + 2MP + 2MP',
       'Back/Rare Camera_48MP Rear Camera', 'Back/Rare Camera_50MP + 2MP',
       'Back/Rare Camera_50MP + 2MP + 2MP',
       'Back/Rare Camera_50MP + 8MP + 2MP',
       'Back/Rare Camera_50MP Rear Camera',
       'Back/Rare Camera_64MP + 8MP + 2MP',
       'Back/Rare Camera_64MP Rear Camera', 'Back/Rare Camera_8MP Rear Camera',
       'Back/Rare Camera_Other', 'Processor_Mediatek Dimensity 920 Processor',
       'Processor_Mediatek Helio P35 Processor', 'Processor_Other',
       'Processor_Qualcomm Snapdragon 439 Processor',
       'Processor_Qualcomm Snapdragon 680 Processor',
       'Processor_Qualcomm Snapdragon 695 Processor',
       'Processor_Qualcomm Snapdragon 778G Processor',
       'Processor_Qualcomm Snapdragon 870 Processor',
       'Processor_Unisoc T612 Processor'],
      dtype='object')